[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Rfuzzycoco"]
	path = Rfuzzycoco
	url = https://github.com/lonza-rnd-data-science/rfuzzycoco
